.ant-breadcrumb-link {
    font-weight: 500;
    cursor: pointer;
}

.ant-breadcrumb-link:hover,
.bread-active:hover {
    text-decoration: underline;
}

.bread-active {
    color: @primary-color;
    cursor: pointer;
}

.ant-layout-content {
    background-color: #eef0f8;
}

.dsvb_user_d_background {
    background-color: @white-color;
    margin: 40px;
    border-radius: 12px;
    overflow: hidden;
    min-height: 580px;
}

.dsvb_user_content {
    margin: 41px 35px;
}
