.ant-breadcrumb-link {
    font-weight: 500;
    cursor: pointer;
}

.ant-breadcrumb-link:hover,
.bread-active:hover {
    text-decoration: underline;
}

.bread-active {
    color: @primary-color;
    cursor: pointer;
}

.ant-layout-content {
    background-color: #eef0f8;
}

.vb_user_duyet_background {
    background-color: @white-color;
    margin: 40px;
    border-radius: 12px;
    min-height: 554px;
}

.vb_user_d_container {
    display: flex;
    margin: 25px;
}

.btn-section {
    display: flex;
    justify-content: center;
    margin-top: 53px;
    margin-bottom: 52px;

    .btn {
        width: 117px;
        height: 44px;
        border: 1px solid @primary-color;
        color: @primary-color;
        border-radius: 3px;

        &:hover {
            border-color: #f23f44;
            color: #f23f44;
        }
    }

    .btn_create {
        background-color: @primary-color;
        border: none;
        color: @white-color;
        margin-left: 21px;

        &:hover {
            border: none;
            color: @white-color;
            opacity: 0.85;
        }
    }
}

.input_disabled {
    pointer-events: none;
}
