.ant-input {
    border-radius: 3px;
    width: 477px;
    height: 44px;
    font-size: 1.8rem;
    font-weight: 400;
    background-color: #f0f5fa;
    border: 1px transparent solid;
    border-color: none;
    &:hover,
    &:focus {
        border: 1px solid rgba(53, 121, 74, 0.7);
        outline: none;
        box-shadow: none;
    }
}

.search-btn {
    border-radius: 3px;

    &:hover {
        opacity: 0.85;
        border: none;
    }
}
