
.dsccql__search{
    height: fit-content;
    display: flex;
    align-items: flex-start;

    &-input {
        width: fit-content;
        padding: 0;
        border: none;
        width: 477px;
        background-color: #f0f5fa;
        padding: 0 19px;
        border-radius: 3px;
        height: 44px;
        font-size: 1.8rem;
        font-weight: 400;
    }

    .search-btn {
        border-radius: 3px;
    
        &:hover {
            opacity: 0.85;
            border: none;
        }
    }
}


.dsccql-layout-background {
    background-color: @white-color;
    margin: 29px 40px 40px;
    border-radius: 12px;
    min-height: 100vh;
}

.dsccql-content {
    margin: 30px 35px 18px;

}


.dsccql-table{
    margin-top: 18px;

    .dsccql-table__first-title{
        padding-left: 51px;
    }

    .dsccql-table__title{
        color: #A1A5B7;
        font-weight: 500;
    }
    
    .dsccql-table__content{
        font-size: 1.8rem;
        font-weight: 400;
        color: #434349;
    }
    .dsccql-table__first-content{
        font-weight: 700;
        padding-left: 51px;
    }
    
    .dsccql-table__buttons{
        display: flex;
        justify-content: flex-end;
        gap: 0 19px;
        border-radius: 4px;
        margin-right: 12px;
    }
    
    .dsccql-table__button-edit,
    .dsccql-table__button-delete {
        min-width: 92px;
        background-color: #E0FFF0;
        display: flex;
        align-items: center;
        justify-content: center;
    
        span {
            font-size: 1.3rem;
        }
    }
    .dsccql-table__button-edit {
        background-color: #E0FFF0;
        color: #29B171 !important;
        border-color: transparent;
        &:hover {
            border: none;
            border-color: transparent;
            outline: none;
        }
    }
    
    .dsccql-table__button-delete {
        background-color: #FFE0E1;
        color: red;
        border-color: transparent;

        &:hover {
            border: none;
            border-color: transparent;
            outline: none;
        }
    }
    
    
    .ant-table-thead{
        .ant-table-cell {
            background-color: @white-color;
    
            // padding-left: 67px !important;
            &::before {
                content: '';
                display: none;
            }
        }
    }

    .ant-pagination {
        display: flex;
        justify-content: start;
        padding: 8px 30px ;
        margin-top: 32px;

        li {
            min-width: 26px;
            height: 26px;
        }
        
        .ant-pagination-prev,
        .ant-pagination-next {
            button {
                svg {
                    color: #29B171;
                }
                border: none;
                font-weight: 300;
                color: #29B171;
                background-color: #E2FFF1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }
    
        .ant-pagination-item {
            border: none;
            font-size: 1.4rem;
            font-weight: 500;
            color: #464E5F;
            display: flex;
            align-items: center;
            justify-content: center;
    
            &-active {
                color: @primary-color;
            }
        }
    }

}


.dscc-modal {
    border-radius: 10px;
    overflow: hidden;
    width: 848px !important;

    .modal__header {
        margin-top: 30px;
        margin-bottom: 32px;
        text-align: center;
        h1 {
            font-weight: 700;
            font-size: 2.8rem;
            color: #000000;
            margin: 0;
        }
    }

    .ant-modal-footer {
        border: none;
    }
    
    .modal__content {
        padding: 0 47px;
    
    }
}


.modal-form {
    display: flex;
    gap: 0 44px;
    margin-bottom: 28px;

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px 0;

        &-label {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 18px;
            color: #3F4254;
        }
    }
    
    &__dropdown-folder,
    &__dropdown-template {
        width: 100%;
        height: 44px;
        border: none;
        background-color: #F0F5FA;
        color: #A1A5B7;
        text-align: start;
        display: flex;
        align-items: center;
        padding-left: 21px;
    }

    .ant-btn:hover,
    .ant-btn:active {
        background-color: #F0F5FA;

        opacity: 0.85;
    }
}

.modal-form2 {
    width: 100%;
    min-height: 227px;
    border: 1px solid #D8DFFB;
    border-radius: 3px;
    padding: 25px 25px 34px 25px;

    
    

    &__add-btn {
        width: 96px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: @primary-color;
        border-color: @primary-color;
    }
}


.modal-actions{
    padding: 45px 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 21px;

    .btn {
        width: 165px;
        height: 44px;
        border: 1px solid @primary-color;
        color: @primary-color;
        border-radius: 3px;

        &:hover {
            border-color: #f23f44;
            color: #f23f44;
        }
    }

    .btn_create {
        background-color: @primary-color;
        border: none;
        color: @white-color;

        &:hover {
            border: none;
            color: @white-color;
            opacity: 0.85;
        }
    }
}