.ant-breadcrumb-link {
    font-weight: 500;
    cursor: pointer;
}

.ant-breadcrumb-link:hover,
.bread-active:hover {
    text-decoration: underline;
}

.bread-active {
    color: @primary-color;
    cursor: pointer;
}

.ant-layout-content {
    background-color: #eef0f8;
}

.vb_user_duyet_background {
    background-color: @white-color;
    margin: 40px;
    border-radius: 12px;
    min-height: 554px;
}

.vb_user_d_container {
    display: flex;
    margin: 52px 25px;
}

.btn-section {
    display: flex;
    justify-content: center;
    margin-top: 53px;
    margin-bottom: 52px;

    .btn {
        width: 117px;
        height: 44px;
        border: 1px solid @primary-color;
        color: @primary-color;
        border-radius: 3px;

        &:hover {
            border-color: #f23f44;
            color: #f23f44;
        }
    }

    .btn_create {
        background-color: @primary-color;
        border: none;
        color: @white-color;
        margin-left: 21px;

        &:hover {
            border: none;
            color: @white-color;
            opacity: 0.85;
        }
    }
}

.extra_section {
    margin-top: 100px;
    margin-bottom: 130px;
    width: 88%;
    .extra_file {
        font-size: 1.6rem;
        background-color: #f0f5fa;
        border: none;
        border-radius: 3px;
        display: flex;
        align-items: center;
        img {
            margin-left: 3px;
            margin-right: 19px;
        }
        span {
            font-size: 1.6rem;
        }
    }
    .extra_note {
        // position: relative;
        margin-top: 23px;
        width: 100%;
        z-index: 3;
        padding: 16px 23px;
        font-size: 1.6rem;
    }

    .extra_star {
        position: relative;
        &::before {
            // display: none;
            z-index: 2;
            position: absolute;
            top: 32px;
            left: 82px;
            content: "*";
            color: #f23f44;
        }
        .extra_note:placeholder-shown {
            z-index: 1;
        }
    }

    .extra_action {
        margin-top: 23px;
        width: 162px;
        .ant-select-selector {
            border: none;
            background-color: #f0f5fa;
            height: 100%;
            display: flex;
            align-items: center;
            .ant-select-selection-placeholder,
            .ant-select-selection-item {
                font-size: 1.6rem;
                margin-left: 8px;
            }
        }

        .ant-select-arrow {
            margin-left: 12px;
        }
        .extra_action_icon {
            filter: invert(76%) sepia(0%) saturate(2136%) hue-rotate(12deg)
                brightness(82%) contrast(88%);
        }
    }

    .extra_btn {
        margin-top: 32px;
        float: right;
        background-color: @primary-color;
        padding: 0px 26px;
        height: 44px;
        display: flex;
        align-items: center;
        color: @white-color;
        border-radius: 3px;
        transition: top linear 0.1s;
        position: relative;
        top: 0;
        &:hover {
            top: -4px;
        }
    }
}

.ant-upload-list-item-name {
    color: @primary-color;
    font-size: 1.6rem;
}

.progress_section {
    flex: 1;
    margin-left: 102px;

    .step {
        display: flex;

        .step_num {
            position: relative;
            width: 56px;
            height: 56px;
            background-color: #f3f6f9;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 28px;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 58px;
            margin-right: 24px;

            &::before {
                position: absolute;
                top: -104%;
                left: 48%;
                width: 1px;
                content: "";
                height: 58px;
                background-color: #d9d9d9;
            }
        }

        &:first-child {
            .step_num {
                &::before {
                    display: none;
                }
            }
        }

        .step_user {
            font-weight: 700;
        }

        .step_date {
            color: #a1a5b7;
            font-size: 1.5rem;
            font-weight: 400;
        }

        .step_status {
            font-size: 1.5rem;
            font-weight: 400;
            color: #3699ff;
        }

        .step_file {
            font-size: 1.5rem;
            color: @primary-color;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .step_active {
        .step_num {
            background-color: @primary-color;
            color: @white-color;
        }

        .step_user {
            color: #a1a5b7;
        }

        .step_date {
            color: #434349;
        }
    }
}
