@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;800&family=Montserrat:wght@300;400;700&family=Mulish:wght@200;300;400;500&display=swap");

html {
    font-size: 62.5%;
}

* {
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    box-sizing: border-box;
}

body {
    background-color: #eef0f8;
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}

.stage-wrap {
    border: 2px dashed #ccc;
}

#root {
    display: flex;
    min-height: 100vh;
}
